body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  line-height: 30px;
  width: 60%;
  margin: auto;
  font-size: 1rem;
}

.tags {
  color: #c70039;
}

.subtitle {
  line-height: 1rem;
  color: #444445;
  width: 60%;
}

p,
pre {
  color: #444445;
}

@media (max-width: 780px) {
  body {
    width: 90%;
    margin: auto;
  }
}
