body{
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  line-height: 30px;
  width:60%;
  margin: auto;
  font-size: 1rem;
}

p{
  color: #444445;
}

@media (max-width: 780px)
{
body{
  width: 90%;
  margin: auto;
 }

}
