:root{
	background-color: #ffffff;
  	font-family: 'Noto Sans', Arial, sans-serif;
	line-height: 2.1;
	color: #4D4E53;
}
a{
	text-decoration: none;
	color: #4D4E53;
}
hr{
	background-color: #B3A394;
	width: 75%;
}
h3{
	text-align: left;
}
#navbar-title{
	text-align: center;
}
/**{ border:dashed 1px black; }*/

#main-container{
	display: flex;
	flex-direction: row;
}
#navbar{
	position: fixed;
	top: 10%;
	left: 0%;
	min-width: 25%;
	width: 25%;
	border-right: solid;
	border-bottom: solid;
	border-top: solid;
	border-color: #B3A394;
	border-width: 5px;
}
.navbar-item{
	text-align: center;
}
#main-doc{
	position: absolute;
	left: 30%;
	padding: 5%;
	width: 60%;
	justify-content: center;
	text-align: justify;
}
#main-section{
	padding: 5%;
}

.mark-link{
	color: #102542;
}
@media (max-width: 815px){
	#main-doc{
		position: absolute;
		top: 75%;
		left: 12.5%;
		margin: auto;
		padding: 5%;
		width: 75%;
		min-width: 60%;
		text-align: justify;
	}
	#navbar{
		position: absolute;
		top: 0%;
		padding: 5%;
		width: 100%;
		max-height: 60%;
		border: none;
		border-bottom: 2px solid #B3A394;
	}
}
